body{	background-image: url("bganakayam.png"); 
		justify-content: center;
		width: 100%;
		height: 100vh;
		align-items: center;
		display: flex;
		text-align: center;
		background-repeat: repeat;

	}

.container{
	height: 500px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;

}
	
form{
		border-radius: 20px;
		background-color: yellow;
		display: flex;
		flex-direction: column;
		text-decoration: underline;
		width: 100%;
		height: 45vh; 
		justify-content: center;
		font-family:  fantasy ;
		font-size: 30px;
		text-align: center;
		color: white;
		align-items: center;
		color: black;
		border-style: solid;

	}

img{
	width: 75px;
	height: 75px;
}



input{
	border-radius: 10px;
	width: 200px;
	height: 40px;
	background-color: black;
	color: white;
}

button{
	border-radius: 30px;
	width:150px;
	height: 20px;

}